<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.jochen_manns.buyitv0">

    <!-- Wir müssen den Web Service aufrufen können - eine feiner Einschränkung gibt es im Moment leid3er nicht -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Etwas konservativ soll die App unter 4.1.2 laufen -->
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Der einzige externe Einstiegspunkt -->
        <activity
            android:name=".ProductList"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Die interne Struktur der Anwendung, die Titel werden dynamisch je nach Aufrufkontext gesetzt -->
        <activity android:name=".ProductEdit" />
        <activity android:name=".MarketList" />
        <activity android:name=".MarketEdit" />
    </application>

</manifest>
